.house-price {

  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .input-price {
    .error {
      color: #f44336
    }
  }

  .percent {
    color: white;
    padding-top: 12px;
    margin-left: 10px;
    font-size: 20px;
  }

}
