
.description {
  margin-top: 35px;
  padding-left: 35px;

  color: rgba(255, 255, 255, 0.7);

  .description-text {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;
  }

  .slogan {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 30px;
  }
}
