.step {
  margin-top: 40px;

  .title {
    text-align: center;
    font-size: 25px;
  }

  .inputs {
    padding-left: 15px;
  }

  .input-wrapper {
    width: 60%;
    margin-right: auto;
    margin-left: auto;

    @media (max-width: 1300px) {
      width: 90%;
    }

    .input {
      color: white;
    }
  }
}

.submit-button-wrapper {
  padding: 20px;
  text-align: center;

  button {
    font-weight: 600;
  }
}
