.step {
  margin-top: 10px;

  .title {
    text-align: left;
    font-size: 20px;
  }

  .inputs {
    padding-left: 15px;
  }

  .input-wrapper {
    width: 60%;
    margin-right: auto;
    margin-left: auto;

    .input {
      color: white;
    }
  }



}
