
.final-explanation {
  margin-top: 35px;
  color: rgba(255, 255, 255, 0.7);

  p {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-weight: 400;

    @media (max-width: 700px) {
      padding-left: 10px;
      padding-right: 10px;
      font-size: 20px;
    }
  }

  .checkbox-wrapper {
    padding: 10px 15%;

    @media (max-width: 700px) {
      padding: 10px 11%;
    }
  }
}
